* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: pink;
    line-height: 30px;
    text-align: center;
    top: 0;
    left: 0;
}

article {
    width: 200px;
    height: 300px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto;
}

article div {
    height: 40px;
    font-weight: bold;
    line-height: 30px;
    font-size: 35px;
}

article section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



footer {
    background-color: pink;
}

footer img {
    width: 60%;
}